* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.navbar-text {
    width: 100%;
    display: flex;
    justify-content: center;
    
}


.brand-name {
    z-index: 3;
    font-family: Roboto;
    font-size: 2rem;
    line-height: 2rem;
    padding: .5rem;
    cursor: pointer;
}


.navbar-text strong {
    color: white;
    text-shadow: #000 1px 0 10px;
}
